---

description: 'My own private fanzine'
css:
  - index

---

<%- include('partials/stripes') %>

<main>
  <nav>
    <ul>
      <li><a href="/"><%= site.title %></a></li>
      <li><a href="/posts/">posts</a></li>
      <li><a href="/lost+found/">lost+found</a></li>
      <li><a href="/projects/">projects</a></li>
      <li><a href="/about/">about</a></li>
    </ul>
  </nav>
</main>
